header {
    text-align: center;
    align-items: center;
    font-size: x-small;
    font-family: sans-serif;
    color: rgb(0, 128, 0);
    background-color: rgb(218, 242, 5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 3px 10px;
    border-radius: 10px;
    display: flex;
    width: auto;
    margin: auto;
}

.logo {
    width: 60px;
    height: 60px;
}

.header-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #005500;
    flex: 1;
}

@keyframes changeColor {
    0% { background-color: rgb(82, 236, 31); }
    25% { background-color: rgb(48, 221, 97); }
    50% { background-color: rgb(34, 218, 34); }
    75% { background-color: rgb(110, 223, 69); }
    100% { background-color: rgb(87, 231, 15); }
}

#datecal {
    padding: 5px;
    color: #ffffff;
    animation: changeColor 5s infinite;
    width: 250; 
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#back {
    width: 30px;
    float: left;
    padding: 2px 0px 0px 10px;
}

#home {
    width: 30px;
    float: left;
    padding: 2px 0px 0px 20px;
}

.date {
    padding: 10px;
    width: 100px; 
    margin: auto;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    float: right;
}

body {
    font-family: Sans-Serif;
    background-color: #f0f0f0;
    margin: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#user {
    text-align: center;
    margin: 20px 0;
    background-color: #86d437;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    width:75%; 
    margin: auto;
}

#user label {
    font-weight: bold;
    margin-right: 10px;
}

#user input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
}

#calculator {
    background-color: #ffffff;
    padding: 25px 45px 25px 25px;
    width: 250; 
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
}

#div {
    background-color: #a2e55f;
    padding: 0px 5px;
    width: 310; 
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
}

#cal {
    background-color: #ffffff;
    padding: 20px 10px;
    width: 250; 
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

label {
    flex: 1;
  }
  
select {
    flex: 0;
  }

.button {
    background-color: white;
    color: rgb(29, 59, 5);
    border: 2px solid rgb(14, 116, 14);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
  }

a:hover, a:active {
    background-color: rgb(57, 179, 57);
    color: white;
}

.button1 {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
    border-radius: 15px;
  }

  .button1:hover {
    background-color: #04AA6D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 10px 15px 0 rgba(0,0,0,0.19);
    color: white;
  }

.align{
    float:right;
  }

#button {
    background-color: #ffffff;
    padding: 20px 10px;
    width: 70%; 
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
}

#button2 {
    background-color: #ffffff00;
    padding: 0px;
    width: 50%; 
    margin: auto;
    border-radius: 10px;
    text-align: center;
    align-self: center;
}

footer {
    text-align: center;
    background-color: rgb(218, 242, 5);
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
    body {
        margin: 5px;
        height: auto;
        font-size: small;
    }
    #calculator, #cal {
        width: 88%;
        padding: 15px 10px;
    }

    #user {
      padding: 10px 5px;  
      width:90%;
      font-size: small; 
    }

    #user input {
    padding: 3px 7px;
    border-radius: 5px;
    }

    #div{
        width: 90%;
        padding: 20px 10px;
    }

    .button1 {
        width: 60%;
        font-size: small;
    }
}

@media only screen and (min-width: 600px) and (max-width: 789px) {
    header {
        font-size: small;
    }
    #calculator, #cal {
        width: 89%;
        padding: 15px 10px;
    }

    #user {
      padding: 10px 5px;  
      width:90%;
      font-size: large; 
    }

    #user input {
    padding: 5px 10px;
    border-radius: 5px;
    }

    #div{
        width: 70%;
        padding: 20px 10px;
    }

    .button1 {
        width: 60%;
        font-size: large;
    }
}

@media only screen and (min-width: 789px) and (max-width: 910px) {
    header {
        font-size: small;
    }
    #calculator, #cal {
        width: 80%;
        padding: 15px 10px;
    }

    #div{
        width: 70%;
        padding: 20px 10px;
    }

    .button1 {
        width: 50%;
        font-size: large;
    }
}

@media only screen and (min-width: 910px) {
    header {
        font-size: small;
    }
    body {
        margin: 20px;
    }
    #calculator, #cal {
        width: 80%;
        padding: 15px 10px;
    }

    #div{
        width: 70%;
        padding: 20px 10px;
    }

    .button1 {
        width: 45%;
        font-size: large;
    }
}
